<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="utf-8" />
		<meta name="description" content="I am currently a PhD student in the Department of Security and Crime Science at UCL, my research interests lie at the intersection of the computational and social sciences. I am currently researching cryptocurrency fraud with with a focus on market manipulation and the social forces behind it." />
		<meta name="keywords" content="josh kamps, phd, cryptocurrency, cryptocurrency fraud, research" />
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,600&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssnormalize/cssnormalize-min.css">
		<link rel="stylesheet" type="text/css" href="style.css" />
		<title>Josh Kamps</title>
	</head>